.header {
    text-align: center;
    color: white;
}
 
.heading
{
    text-align:center;
    color:black;
    width:96%;
    float:none;
    height: 97%;
    font-size: 20px;
}
.border
{
    border:1px solid blue;
    text-align:left;
 
 
 
}
.border_1 {
    margin-top: 39px;
    border: 1px solid blue;
    margin-left: 14px;
    margin-right: 14px;
}
.heading2
{
    margin-left:30px;
 
 
}
.border1{
    margin: auto;
    width: 93%;
    border: 1px solid blue;
    padding: 10px;
}
.border_1 h4{
text-align: center;
    font-size: 10px;
 color: #4682B4;
 
}
.button
 {
    background-color:#4682B4;
    border:none;
    color: white;
    padding: 2px 3px;
    text-align: left;
    text-decoration: none;
    display: inline-block;
    font-size: 25px;
    margin: 5px 2px;
    cursor: crosshair;
    width:96%;
    vertical-align: bottom;
    height: auto;
    position: fixed;
    left: 0px;
    top: auto;
 
}
 
.row1{
    background: black;
}
.shp
{
    color:grey;
 
}
 
 
.out{
    margin-left:70px;
   color:grey;
}
.glyphicon {
    position: relative;
    top:-55px;
    border-radius:10px;
    left:180px;
    border:1px solid #ccc;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: 500;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.space {
    margin-left: 10px;
}
 
.space1 {
    margin-left: 10px;
}
.space2 {
    margin-left: 10px;
}
.space2 p {
    font-weight: bold;
    color: #4682B4;
}
.space3 h4 {
  font-weight: bold;
    color: #4682B4;
font-size: 10px;
    text-align: center;
 
}
.space3 p {
 
    color: #4682B4;
    text-align: center;
 
}
.space4 {
 color:#f5a258;
    text-align: center;
    margin-left: 13px;
}
.space4 h4 {
font-size: 28px;
}
.blank {
    float: right;
    margin-right: 12px;
}
.space1 h4 {
    font-weight: bold;
}
.progress-bar {
    background: #f5a258;
  height: 8px;
}
.progress {
margin-right: 19px;
    height: 8px;
}


.link {color: orange; text-decoration: none; }
.visited {color: orange; text-decoration: none; }
.hover {color: orange; text-decoration: none; }
.active {color: orange; text-decoration: none; }